@{
    ViewBag.Title = "Home Page";
}
<div id="applicationHost">
    <div class="splash">
        <div class="splash-inner">
            <div class="spinner">
                <div class="spinner-tail"></div>
            </div>
            <div class="message">Загрузка</div>
        </div>
    </div>
</div>